{% extends 'Product/index.html' %}
{% block form %}
<!-- <div style="background-color:aqua;"> -->
<form action="{% url 'prod:editpost'  %}" method="POST" style="background-color: turquoise; height: 100vh;">
    {%csrf_token%}
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div class="name my-2" style="width: 32vh;">
        <input type="text" class="form-control" value="{{username}}" id="name" aria-describedby="emailHelp" placeholder="Product name" name="username" readonly>
      </div>    <input type="hidden" name="id" value="{{id}}">    
    <div class="form-group">
      <label for="name"> Post Edit</label>
      <input type="text" class="form-control" id="name"  placeholder="Product name" name="text" value="{{post}}" required>
    </div>
    <button type="submit"  class="btn btn-primary">Edit post</button>
  </div>
  </form>

<!-- </div> -->
{% endblock form %}