{% extends 'Product/index.html' %}

{% block form %}
{%load static%}
<link rel="stylesheet" href="{% static 'Product/postsave.css'%}">
<div class="login">
  <form action="{% url 'prod:postform' %}" method="POST" >
    {%csrf_token%}
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
    </div>
    <button type="submit"  class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock form %}
